html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	/*background-color: #666;*/
}
body {
	min-width: 300px;
	min-height: 300px;
	font-family: Montserrat, Segoe UI, Roboto, Arial, sans-serif;
}
#root {
	display: grid;
	width: 100%;
	height: 100%;
	/*max-width: 900px;
	margin: 0 auto;
	border-inline: 2px solid #888;*/
	grid-template-rows: /*60px*/ 1fr min-content;
	grid-template-columns: 1fr min-content 2fr;
	grid-template-areas:
	/*"header header header header"*/
	"sidebar sizer view"
	"footer footer footer"; 
}
@media (orientation: portrait), (max-width: 490px) {
	#root {
		display: initial;
		position: absolute;
		top: 0;
	}
	#sidebar {
		z-index: 8;
		position: inherit;
		top: 0;
		width: 100%;
	}
	#view {
		z-index: 9;
		position: inherit;
		top: 0;
		width: 100%;
	}
	.entry {
		height: 12.5%;
	}
	#footer {
		display: none;
	}
}
.avatar {
	width: 3rem;
	min-width: 3rem;
	height: 3rem;
	min-height: 3rem;
	margin: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgb(192, 192, 192);
}
.avatar_mini {
	width: 3rem;
	height: 3rem;
	/* min-width: 2rem; */
	/* min-height: 2rem; */
	font-size: 2rem;
	/*
	margin: auto 5px;
	*/
	float: left;
	border-radius: 50%;
	flex-shrink: 0;
	background: rgb(192, 192, 192);
}
.centered {
	align-self: center;
}
#sidebar {
	grid-area: sidebar;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* padding: 0.25em 0 0 0.25em; */
	background-color:rgb(160, 160, 160);
}
#sidebar_sizer {
	grid-area: sizer;
	width: 1px;
	height: 100%;
	background-color: rgb(240, 240, 240);
	/*background-color: rgb(160, 160, 160);*/
	/*background-color: rgb(96, 96, 96);*/
}
#currentUserInfo {
	height: 3.5rem;
	min-height: 3.5rem;
	display: flex;
	gap: 0.5rem;
	flex-direction: row;
	padding: 0 0.5rem;
	/*border-bottom: 2px solid rgb(96, 96, 96);*/
}
#username-container {
	width: 100%;
	align-self: center;
}
#username {
	text-align: start;
	margin: 0 auto;
}
#sidebar-menu {
	display: grid;
	grid-template-areas:
		"search-h create-h"
		"actions actions";
	padding: 0 0.5rem;
}
.search-h {
	grid-area: search-h;
}
.create-h {
	grid-area: create-h;
}
#sidebar-menu > h4 {
    width: 100%;
    text-align: center;
    margin: 0;
    justify-self: center;
}
#sidebar-menu > h4:hover {
    background: rgb(216, 216, 216);
	border-radius: 0.5em 0.5em 0 0;
}
#actionforms-container {
	grid-area: actions;
	background: inherit;
	border-bottom: 1px solid rgb(160, 160, 160);
}
#createform {
	width: 100%;
	height: 2em;
	/*display: flex;*/
	gap: 1px;
	margin: 0.375rem 0;
}
#searchform {
	width: 100%;
	height: 2em;
	/*display: flex;*/
	gap: 1px;
	margin: 0.375rem 0;
	/*padding: 0 0.5rem;*/
	/* border-right: 2px solid rgb(160, 160, 160); */
}
#searchform > input {
	font-size: inherit;
	border: 0;
	outline: 0;
}
#entrybox {
	height: 100%;
	padding-top: 0;
}
#entrybox>div {
	display: flex;
	flex-direction: column;
}
.entry {
	width: 100%;
	overflow: hidden;
	height: 4em;
	padding: 0 0.5em;
	column-gap: 5px;
	display: grid;
	overflow-wrap: break-word;
	grid-template-areas:
		"avatar sizer_top sizer_top sizer_top"
		"avatar chat_name time time"
		"avatar messagebox messagebox unread"
		"avatar sizer_btm sizer_btm sizer_btm";
	grid-template-rows: 0.5em min-content 1fr 0.5em;
	grid-template-columns: min-content 1fr min-content min-content;
}
.entry:before {
	display: block;
    grid-area: sizer_top;
    height: 0.5rem;
}
.entry::after {
	display: block;
    grid-area: sizer_btm;
    height: 0.5rem;
}
.entry .avatar_mini {
	grid-area: avatar;
	align-self: center;
    text-align: center;
}
.entry .avatar_mini span{
	justify-self: center;
	align-self: center;
	text-align: center;
}
.entry .entry-messagebox {
	grid-area: messagebox;
    height: 1.5rem;
}
.entry .entry-messagebox h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.entry-chatname {
	grid-area: chat_name;
	height: 1.5rem;
	margin: 0;
	align-self: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.entry-time {
	grid-area: time;
	margin: 0;
	color: rgb(64, 64, 64);
	align-self: center;
	white-space: nowrap;
}
.search-message-container {
	height: 3rem;
	margin: 0.125rem;
	overflow: hidden;
	display: grid;
	grid-template-areas:
	"avatar sender actions"
	"avatar text text";
	column-gap: 5px;
	grid-template-rows: min-content 1fr;
	grid-template-columns: min-content 1fr min-content;
	background: rgb(160, 160, 160);
}
.search-message-avatar {
	grid-area: avatar;
}
.search-message-sender {
	grid-area: sender;
	margin: 0;
}
#view {
	grid-area: view;
	display: none;
	height: 100%;
	max-height: 100%;
	overflow-y: hidden;
	flex-direction: column;
	background: rgb(240, 240, 240);
}
#chat_info-container {
	height: 55px;
	background: rgb(224, 224, 224);
	display: grid;
    grid-auto-flow: column;
}
@media (orientation: portrait), (max-width: 490px) {
	#chat_info-container {
		grid-template-columns: min-content 1fr min-content;
	}
	#chat_info-container .arrow-back {
		display: initial;
	}
}
@media not (orientation: portrait), (min-width: 490px) {   /* срабатывает если ширина больше 490px и ломает позицию никнейма! */
	#chat_info-container {
		grid-template-columns: 1fr min-content;
	}
}
.arrow-back {
	transform: rotate(180deg);
}
#chat_info-container .arrow-back {
	align-self: center;
	width: 40px;
    height: 40px;
}
.hidden {
	display: none;
}
#messages {
	height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
	scrollbar-width: thin;
	scrollbar-color: inherit rgb(160, 160, 160);
}
#messages::-webkit-scrollbar {
	width: 0.75em;
}
#messages::-webkit-scrollbar-track {
	background: inherit;
}
#messages::-webkit-scrollbar-thumb {
	background-color: rgb(160, 160, 160);
	border-radius: 0.375em;
}
#messageform {
	/*display: flex;*/
	/*padding: 1px;*/
	/*max-height: 25%;*/
	background: rgb(240, 240, 240);
}
#messagearea {
    height: 100%;
    border-radius: 0.25em;
}
#messagearea:focus {
    border: 2px solid gray;
	padding: 0.25em 0;
}
#footer {
	grid-area: footer;
	height: 15px;
	border-top: 2px solid rgb(96, 96, 96);
	background: rgb(160, 160, 160)
}
.view-message-container {
	margin: 5px 0.75em 0 0;
	/* overflow: auto; */
	/* width: 100%; */
	/* min-width: 50%; */
	display: flex;
}
.view-message-tail {
	width: 0.75em;
	min-width: 0.75em;
	display: flex;
	flex-direction: column;
	background: rgb(200, 200, 200);
}
.view-message-container .view-message-tail div {
	height: 50%;
    width: 100%;
    align-self: flex-end;
    background: rgb(240, 240, 240);
    z-index: 1;
}
.view-selfMessage .view-message-tail {
    background: rgb(216, 216, 216);;
}
.view-selfMessage .view-message-tail :last-child {
	border-radius: 0 0 0 0.75em;
}
.view-otherMessage .view-message-tail :last-child {
	border-radius: 0 0 0.75em 0;
}
.view-message-content {
	/* width: 75%; */
	min-width: 50%;
	display: grid;
	grid-template-areas:
		"sender actions"
		"text text"
		"attachments attachments"
		". time";
	/*column-gap: 5px;*/
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr max-content;
	background: rgb(200, 200, 200);
	padding: 0.25rem 0.5rem;
}
.view-otherMessage .view-message-content {
	background: rgb(200, 200, 200);
	margin-right: 0.75em;
	border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.view-selfMessage .view-message-content {
	background: rgb(216, 216, 216);;
	margin-left: 0.75em;
	border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.view-message-my {
	grid-template-areas:
	"sender actions avatar"
	"text text avatar"
	"attachments attachments avatar";
}
.view-message-avatar {
	grid-area: avatar;
	/* margin: 5px 0;*/
}
.avatar_mini > span {
    display: none;
}
.view-message-sender {
	grid-area: sender;
    margin: 0;
    align-self: center;
}
.view-message-additional {
	/*height: 0.5rem;*/
	grid-area: additional;
	/*padding-right: 10px;*/
}
.view-message-time {
	grid-area: time;
	font-size: 0.83em;
    font-weight: bold;
	text-align: end;
    color: rgb(96, 96, 96);
}
.view-message-actions {
	height: 5px;
	grid-area: actions;
	margin: -0.25em 0;
	display: flex;
	gap: 1rem;
	color: transparent;
	/* background: gray; */
	/*border-bottom: 2px solid gray;*/
	text-align: end;
	justify-content: flex-end;
	transition: height 1s ease 1s;
}
.view-message-actions:hover > a {
    transition: color 0s;
}
.view-message-content:hover > .view-message-actions {
	height: 1.5em;
	color: initial;
	background: initial;
}
.view-message-actions:hover {
	height: 1.5em;
	margin: -0.25em 0;
	/* width: min-content; */
	justify-self: end;
	color: initial;
	background: initial;
}
.view-message-content:hover > .view-message-actions > a {
	transition: color 500ms ease 1250ms;
}
.view-message-actions > a {
    transition: color 1s;
}
.view-message-text {
	grid-area: text;
	white-space: pre-line;
	margin: -0.25em 0;
	overflow-wrap: anywhere;
	align-self: center;
	z-index: 1;
}
.view-message-attachments {
	grid-area: attachments;
	margin: 0.25em 0;
}
.view-message-attachments > h5 {
	margin: 0;
}
.attachment-container {
	margin:0.25em 0.5em;
	display: grid;
	grid-template-areas:
		"name delbtn"
		"progress progress";
}
.attachment-name {
	margin: 0;
}
.attachment-container progress {
	grid-area: progress;
	width: 100%;
	height: 0.5em;
	vertical-align: top;
}
.attachment-delbtn {
	grid-area: delbtn;
	height: 1em;
	border: 0;
	align-self: center;
    text-align: end;
}
.border-bottom-darkish {
	border-bottom: 2px solid rgb(96, 96, 96);
	background: #DDD;
}
.border-bottom-gray {
	/* border-bottom: 1px solid rgb(128, 128, 128); */
	/*background: #DDD;*/
}
noscript {
	width: 0;
	height: 0;
}
.overlay {
	left: 0;
	top: 0;
	background: black;
	opacity: .95;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
}
.overlay-content {
	position: absolute;
	opacity: 1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
}
.login-popup-block {
	background: #DDD;
	padding: 25px;
	border-radius: 25px;
	/*display: flex;*/
	flex-direction: column;
	gap: 5px
}
#login-credentials {
	display: grid;
    grid-template-areas:
        "ulabel uname"
        "plabel pwd"
		"submit submit";
	gap: 5px;
}
#reg-credentials {
	display: grid;
    grid-template-areas:
        "ulabel uname"
        "plabel pwd"
		"rlabel rpwd"
		"submit submit";
	gap: 5px;
}
#reg-credentials input[name="repeat"]:focus {
    outline: none;
    border-radius: 4px;
}
#noscript-message {
	color: white;
}