input[type="search"] {
    border: 1px solid gray;
    padding: .2em .4em;
    border-radius: .2em;
  }
  
  input[type="search"].dark {
    background: #222;
    color: #fff;
  }
  
  input[type="search"].light {
    background: #fff;
    color: #222;
  }
  
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    /*background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;*/
    background: url(/images/pictorgams/close.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
  }
  
  input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
  }
  
  input[type="search"].dark::-webkit-search-cancel-button {
    filter: invert(1);
  }